@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

.dark #nprogress .bar {
	background: oklch(72.3% 0.219 149.579) !important;
}

@theme {
	--animate-size-pulse: size-pulse 4s ease-in-out infinite;
	@keyframes size-pulse {
		0% {
			transform: scale(1);
			filter: drop-shadow(0 0 1px);
		}
		50% {
			transform: scale(1.1);
			filter: drop-shadow(0 0 2px);
		}
		100% {
			transform: scale(1);
			filter: drop-shadow(0 0 1px);
		}
	}

	--animate-sun-glow: sun-glow 3s ease-in-out infinite;
	@keyframes sun-glow {
		0% {
			transform: rotate(0deg);
			filter: drop-shadow(0 0 4px rgb(0, 121, 252)) invert(1);
		}
		50% {
			filter: drop-shadow(0 0 8px rgb(0, 121, 252 / 0.8)) invert(1);
		}
		100% {
			transform: rotate(360deg);
			filter: drop-shadow(0 0 4px rgb(0, 121, 252)) invert(1);
		}
	}

	--animate-moon-glow: moon-glow 3s ease-in-out infinite;
	@keyframes moon-glow {
		0%,
		100% {
			transform: translateY(0);
			filter: drop-shadow(0 0 0 rgb(129 140 248));
		}
		50% {
			transform: translateY(-4px);
			filter: drop-shadow(0 0 6px rgb(129 140 248 / 0.8));
		}
	}
}
