@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

.dark #nprogress .bar {
	background: oklch(72.3% 0.219 149.579) !important;
}

.prose {
	@apply prose-headings:my-0 prose-h1:my-6;
	@apply prose-img:my-0 prose-img:max-w-2/3 prose-img:mx-auto;
	@apply prose-p:my-4;
	@apply prose-blockquote:my-0 prose-pre:my-4;
	@apply prose-ul:my-0 prose-ol:my-0 prose-li:my-1;
	@apply prose-table:my-4;
	@apply prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm;
}

@theme {
	--animate-size-pulse: size-pulse 4s ease-in-out infinite;
	@keyframes size-pulse {
		0% {
			transform: scale(1);
			filter: drop-shadow(0 0 1px);
		}
		50% {
			transform: scale(1.1);
			filter: drop-shadow(0 0 2px);
		}
		100% {
			transform: scale(1);
			filter: drop-shadow(0 0 1px);
		}
	}

	--animate-sun-glow: sun-glow 3s ease-in-out infinite;
	@keyframes sun-glow {
		0% {
			transform: rotate(0deg);
			filter: drop-shadow(0 0 4px rgb(0, 121, 252)) invert(1);
		}
		50% {
			filter: drop-shadow(0 0 8px rgb(0, 121, 252 / 0.8)) invert(1);
		}
		100% {
			transform: rotate(360deg);
			filter: drop-shadow(0 0 4px rgb(0, 121, 252)) invert(1);
		}
	}

	--animate-moon-glow: moon-glow 3s ease-in-out infinite;
	@keyframes moon-glow {
		0%,
		100% {
			transform: translateY(0);
			filter: drop-shadow(0 0 0 rgb(129 140 248));
		}
		50% {
			transform: translateY(-4px);
			filter: drop-shadow(0 0 6px rgb(129 140 248 / 0.8));
		}
	}
}

/* Code blocks */
code[class*='language-'],
pre[class*='language-'] {
	color: #9efeff;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	color: inherit;
	background: #a599e9;
}

/* Code blocks. */
pre[class*='language-'] {
	overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: #1e1e3f;
}

.token {
	font-weight: 400;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #b362ff;
}

.token.delimiter,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #ff9d00;
}

.token.operator,
.token.attr-name {
	color: rgb(255, 180, 84);
}

.token.punctuation {
	color: #ffffff;
}

.token.boolean {
	color: rgb(255, 98, 140);
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: rgb(255, 157, 0);
}

.token.entity,
.token.symbol {
	color: #6897bb;
}

.token.number {
	color: #ff628c;
}

.token.property,
.token.constant,
.token.variable {
	color: #ff628c;
}

.token.string,
.token.char {
	color: #a5ff90;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #a5c261;
}

.token.attr-value .punctuation:first-child {
	color: #a9b7c6;
}

.token.url {
	color: #287bde;
	text-decoration: underline;
}

.token.function {
	color: rgb(250, 208, 0);
}

.token.regex {
	background: #364135;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #00ff00;
}

.token.deleted {
	background: #ff000d;
}

code.language-css .token.property,
code.language-css .token.property + .token.punctuation {
	color: #a9b7c6;
}

code.language-css .token.id {
	color: #ffc66d;
}

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
	color: #ffc66d;
}

.token.class-name {
	color: #fb94ff;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	background: none;
}

.line-highlight.line-highlight {
	margin-top: 36px;
	background: linear-gradient(to right, rgba(179, 98, 255, 0.17), transparent);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	content: '';
}
/* End Code blocks */
